node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/server/reports
/server/logs
/server/artifacts

# Test outputs & results
/tests/results
/tests/coverage
/tests/reports
playwright-report
coverage

# Build & temp outputs
/results
/outputs
/artifacts
/temp

/docs
localhost.pem
localhost-key.pem